{% extends "index.html" %}

{% block content %}
<p class="title">{{ title }} </p>
{% if is_authorized %}

<form class="form-project form-update" method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="project-image">
        {{ form.background_image(class='', type='file', accept='image/*',  onchange="readURL(this)") }}
    </div>
    {% if not project %}
        <img src="{{ url_for('static', filename='project_images/default.png') }}" id="output" width="900" alt="nONE"/>
    {% else %}
        <img src="{{ url_for('static', filename='project_images/' + project.background_image) }}" id="output" width="900" alt="nONE"/>

    {% endif %}
    <label>
        {{ form.name(class="input") }}
        <span>Title</span>
    </label>

    <label>
        {{ form.description(class="textarea input") }}
        <span>Project Description</span>
        {% if form.description.errors %}
        <p class="error">{{ form.description.errors[0] }}</p>
        {% endif %}
    </label>

    <label>
        {{ form.tags(class="input") }}
        <span>Skills (comma-separatted eg: Python, Javascrip, ...)</span>
    </label>

    <label>
        {{ form.github_link(class="input") }}
        <span>Github</span>
    </label>

    <label>
        {{ form.demo_link(class="input") }}
        <span>Demo Link (Optional)</span>
    </label>
    <label>
        {{ form.submit(class="input submit") }}
    </label>

</form>
{% else %}
<div class="developers">
    <div class="project-display">
        <img class="flat" src="{{ url_for('static', filename='project_images/' + project.background_image) }}" alt="user" />
        <div class="skills">
            <h3>{{ project.name }}</h3>
            <a href="{{ project.github_link }}">Github -- </a>
            <a href="{{ project.demo_link }}">Demo</a>
            <div class="para">
                {{ project.description }}
            </div>
            <h4>Tech Stack</h4>
            <ul>
                {% for tag in project.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="comments-section">
    <h2>Comments</h2>
        {% for comment in comments %}
        <div class="comment">
            <div class="comment-author">
                <a href="{{ url_for('profile', user_id=comment.user.id) }}" >@{{ comment.user.username }}</a>
            </div>
            <div class="comment-date">{{ comment.user.created_at }}</div>
            <div class="comment-text">
                {{ comment.body }}
            </div>
        </div>

        {% endfor %}
        {% if current_user.is_authenticated %}
        <form class="form-project form-update" method="POST" action="">
            {{ form.hidden_tag() }}
            <label>
                {{ form.body(class="input") }}
                <span>comment</span>
            </label>
            <label>
                {{ form.submit(class="input submit") }}
            </label>
        </form>
        {% endif %}
    </div>

</div>
{% endif %}

{% endblock content %}